body {
    margin: 0;
    background: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    height: 900px;
    width: 30px;
    background: #26333D;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.icon {
    font-size: 20px;
    cursor: pointer;
 
}

.content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header input {
    width: 60%;
    padding: 8px;
}

.book-area {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: -70px; 
}


.book-cover img {
    width: 250px;
    border-radius: 15px;
    margin-right: 200px;
}

.book-cover {
    width: 250px;
    border-radius: 15px;
    position: relative;
    z-index: 5; 
    transform: translate(-100px); 
    box-shadow: 0 20px 40px #00000030;

}


.book-info h1 {
    margin: 0 0 8px 0;      
    font-size: 45px;
    line-height: 1.1;
}


.book-info h3 {
    margin: 8px 0 0 0;      
    font-size: 20px;
    font-weight: 400;
    color: #555;
    transform: none;     
    margin-left: 20px;
    margin-top: 30px;
}

.descricao {
    margin-top: 20px;
}




.sidebar .icon img {
    width: 24px;     
    height: 24px;
    object-fit: contain;
    display: block;
    margin-top: 50px;
    filter: brightness(0) invert(1);
}


.input-container {
  width: 220px;
  position: relative;
}


.input {
    display: flex;
  width: 100%;
  max-width: 2000px;
  height: 20px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}


.informacoes {
    background: #dce4e2;
    backdrop-filter: blur(4px);
    border-radius: 15px;
    padding: 40px;
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    z-index: 1;
    position: relative;
    box-shadow: 0 10px 25px #00000015;
    display: flex;
    gap: 40px;
    color: #26333D;
}




.informacoes > div {
    flex: 1;
}

.perfil {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.perfil img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #26333D;
  overflow: hidden;
  border-radius: 30px;
  color: #26333D;
  transition: all 0.5s ease-in-out;
  margin-top: 30px;
}

.btn-txt {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 4px;
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #26333D;
  border-radius: 30px;
  visibility: hidden;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.btn:hover {
  box-shadow: 1px 1px 200px #2FD6CB !important;
  color: #fff !important;
  border: none !important;
  background-color: #2FD6CB  !important;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(1);
}

